*.pid
.idea/
.papermerge.toml
.env
.envrc
.env_services
build/
.eggs/
.venv
*.pyc
__pycache__
*.swp
*.swn
*.swo
*.log
*.sqlite3
*.png~
dist
_build
_static
media/
./static/
celerybeat-schedule
.vscode
