name: Unit Tests

on:
  workflow_dispatch:

  push:
    paths:
      - 's3worker/**'
      - 'tests/**'
      - 'pyproject.toml'
      - '.github/workflows/test.yaml'
      - 'docker/**'

jobs:

  tests_with_postgres:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: pmgpass
          POSTGRES_USER: pmguser
          POSTGRES_DB: pmgdb_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python 3.14
        run: uv python install 3.14
      - name: Install required debian packages
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update
          sudo apt-get install -y poppler-utils # required by pdf2image
      - name: Install dependencies and run tests
        run: |
          uv sync --group dev
          uv run pytest
        env:
          PM_DB_URL: 'postgresql://pmguser:pmgpass@localhost:5432/pmgdb_test'
          PM_MEDIA_ROOT: /tmp/does/not/matter
          PM_API_PREFIX: ''
          PM_S3_BUCKET_NAME: placeholder
          AWS_REGION_NAME: placeholder
          AWS_ACCESS_KEY_ID: placeholder
          AWS_SECRET_ACCESS_KEY: placeholder
